@media screen and (max-width: 1199px) {
	._sklst > li > div {
		width: 120px;
		height: 120px;
	}
	._sklst > li:first-child > div {
	    width: 160px;
	    height: 160px;
	}

}
@media screen and (max-width: 1024px) {
	._sklst > li > div h2 {
		font-size: 15px;
	}
	._sklst > li > div img {
		width: 34px;
	}
	.hd_main_ {
		font-size: 3em;
	}
}
@media screen and (max-width: 991px) {
	.about > span {
	    opacity: .2;
	}
	._prtflioitem {
		-ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}
	._cntctInfo > span > a, 
	._cntctInfo > span > address {
		font-size: 18px;
	}
	._cntctInfo > span {
	    padding: 10px;
	}
	._sklst > li:first-child > div {
	    width: 130px;
	    height: 130px;
	}
	._sklst > li > div {
	    width: 100px;
	    height: 100px;
	}
	._sklst > li > div h2 {
	    font-size: 14px;
	}
}


@media screen and (max-width: 768px) {
	._main-slider h1 {
		font-size: 3.2em;
	}
}

@media screen and (max-width: 767px){
	.rect {
		left: auto;
		right: 0;
	}	

	.main-header .collapse:not(.show) {
		display: none;
	}
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}	
	.main-slider h3{
		font-size: 20px;
	}
	.main-slider .theme-btn,
	.btn-style-one{
		padding:15px 40px;
		font-size: 14px;
	}

}

@media screen and (max-width: 767px){
	._cntct_ovl .col-md-7 {
	    -webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
        order: 2;
	}
	._cntct_ovl .col-md-5 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
	}
	._cntctInfo > span:last-child {
		margin-bottom: 30px;
	}
	.about .row .col-6 {
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
}
@media screen and (max-width: 568px){
	.main-header .navbar-brand h1 {
		font-size: 1.1em;
	}
	.hd_main_ {
	    font-size: 2em;
	}
}
@media screen and (max-width: 414px){
	._cntctform .col-6,
	._prtflioitem {
		-ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
}
