
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
nav.navbar.navbar-inverse {
    border: 0;
    border-radius: 0;
    background: rgba(255,255,255,.7);
    margin-bottom: 0;
    transition: all .5s ease;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    padding: 5px 0;
}
nav.navbar.navbar-inverse.navbar-fixed-top.srolled {
    background: #fff;
    padding: 0;
}

nav.navbar.navbar-inverse .navbar-brand,
nav.navbar.navbar-inverse .navbar-brand:hover {
    color: #000;
    font-size: 24px;
    font-weight: 600;
}
nav.navbar.navbar-inverse .navbar-nav>li>a,
nav.navbar.navbar-inverse .navbar-nav>.active>a:hover {
    color: #000;
    font-size: 17px;
    background: transparent;
}
nav.navbar.navbar-inverse .navbar-nav>li>a:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #000;
    opacity: 0;
    transition: all .2s ease;
}
nav.navbar.navbar-inverse .navbar-nav>li>a {
    color: #000;
    font-size: 17px;
    background: transparent;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
}
nav.navbar.navbar-inverse .navbar-nav>li>a:hover::after,
nav.navbar.navbar-inverse .navbar-nav>.active>a::after {
	bottom: 12px;
	opacity: 1
}
ul.knows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.about {
    margin: 50px auto;
}
.knows > li:nth-child(4n), .knows > li:nth-child(5n), .knows > li:nth-child(6n) {
    border-bottom: 0;
}
.knows > li:nth-child(3n) {
    border-right: 0;
}
.knows > li {
    width: 33.33%;
    text-align: center;
    min-height: 100px;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 15%;
    padding-bottom: 15%;
}

.intro-message h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 4rem;
    /* text-transform: uppercase; */
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3rem;
}

.intro-social-buttons i {
  font-size: 80%;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }
  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}
.overlaygray {
    background: rgba(0,0,0,.7);
    padding: 30px 0 40px;
}
.my-auto.auto {
    display: flex;
}
.banner {
  padding: 40px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 20px 0;
}

p.copyright {
  margin: 15px 0 0;
}


.btn-secondary {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}



.cssload-loader {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
		-o-transform: translate3d(-50%, -50%, 0);
		-ms-transform: translate3d(-50%, -50%, 0);
		-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
	perspective: 1200;
		-o-perspective: 1200;
		-ms-perspective: 1200;
		-webkit-perspective: 1200;
		-moz-perspective: 1200;
}

.cssload-flipper {
	position: relative;
	display: block;
	height: inherit;
	width: inherit;
	animation: cssload-flip 1.38s infinite ease-in-out;
		-o-animation: cssload-flip 1.38s infinite ease-in-out;
		-ms-animation: cssload-flip 1.38s infinite ease-in-out;
		-webkit-animation: cssload-flip 1.38s infinite ease-in-out;
		-moz-animation: cssload-flip 1.38s infinite ease-in-out;
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
}

.cssload-front,
.cssload-back {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-color: rgb(0,187,255);
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
}

.cssload-back {
	background-color: rgb(0,255,213);
	z-index: 800;
	transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
}



@keyframes cssload-flip {
	0% {
		transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-o-keyframes cssload-flip {
	0% {
		-o-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-o-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-o-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-ms-keyframes cssload-flip {
	0% {
		-ms-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-ms-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-ms-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-webkit-keyframes cssload-flip {
	0% {
		-webkit-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-webkit-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-webkit-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-moz-keyframes cssload-flip {
	0% {
		-moz-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-moz-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-moz-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}
